@model List<MarceTech.Web.Controllers.ClienteModel>
@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<input type="search" id="inputClientes" placeholder="Buscar Clientes" class="myinput" />

<table id="myTable">
    <tr class="header">
        <th style="width:5%;">
            <a id="btnIncluir" href="@Url.Action("Cadastro", "Clientes")" alt="Novo Registro" title="Novo Registro" style="color:white">+</a>
        </th>
        <th style="width:25%;">Nome</th>
        <th style="width:15%;">Telefone</th>
        <th style="width:25%;">Email</th>
        <th style="width:10%;">Cidade</th>
        <th style="width:20%;">Uf</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="btn-edit" title="Editar" href="@Url.Action("Cadastro", "Clientes", new { id = item.Id })">
                    <img src="https://cdn-icons-png.flaticon.com/512/1159/1159633.png" alt="Editar" width="20">
                </a>

                <a class="btn-delete" title="Excluir" href="@Url.Action("Excluir", "Clientes", new { id = item.Id })" onclick="return confirm('Tem certeza que deseja excluir este cliente?');">
                    <img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" alt="Excluir" width="20">
                </a>
            </td>
            <td>@item.Nome</td>
            <td>@item.Telefone</td>
            <td>@item.Email</td>
            <td>@item.Cidade</td>
            <td>@item.Estado</td>
        </tr>
    }
</table>
<script>
        document.getElementById("inputClientes").addEventListener("keyup", function () {
            var input = this.value.toLowerCase();
            var rows = document.querySelectorAll("#myTable tr:not(.header)");

            rows.forEach(function (row) {
                var text = row.textContent.toLowerCase();
                row.style.display = text.includes(input) ? "" : "none";
            });
    });

</script>